In [1]:
import sys
from pathlib import Path

# Force notebook to recognize project root
import os
ROOT = Path(os.getcwd()).resolve().parents[0] # one level up from tests/
if str(ROOT) not in sys.path:
    sys.path.append(str(ROOT))

import pandas as pd
from src.inference_pipeline.inference import predict

# Load a few rows of already preprocessed data
sample_path = ROOT / "data/processed/cleaning_eval.csv"
df = pd.read_csv(sample_path).sample(5, random_state=42).reset_index(drop=True)

print("Input sample:")
display(df.head())

# Run inference
preds_df = predict(df)
print("âœ… Predictions returned")
display(preds_df[["predicted_price"]].head())

ðŸ“‚ Inference using project root: C:\Users\saiyu\Desktop\projects\AWS\AI_ML_OPS\Housing_Regression_ML_EndtoEnd
Input sample:

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full,lat,lng
0,2020-04-30,208250.0,209950.0,138.516484,144.229660,156.0,184.0,200.0,118.0,25.0,...,192800.0,22946.0,827.0,38784.0,38784.0,20782.0,215177.598844,Chicago-Naperville-Elgin,41.6675,-87.9597
1,2020-08-31,440000.0,459900.0,243.082359,247.957301,217.0,253.0,303.0,178.0,23.0,...,437300.0,18857.0,552.0,36210.0,36210.0,16738.0,409283.507992,Chicago-Naperville-Elgin,41.6675,-87.9597
2,2021-06-30,518750.0,524947.5,314.730639,320.049765,168.0,175.0,178.0,64.0,16.0,...,381900.0,30238.0,2000.0,60155.0,60155.0,25860.0,474897.603145,Riverside-San Bernardino-Ontario,34.5517,-116.1297
3,2020-07-31,980000.0,970000.0,371.859296,367.657993,23.0,29.0,29.0,7.0,16.0,...,713100.0,3705.0,139.0,6739.0,6739.0,3012.0,766596.834055,Seattle-Tacoma-Bellevue,47.5574,-121.8506
4,2020-09-30,254000.0,239950.0,122.577446,129.431457,168.0,0.0,166.0,113.0,47.0,...,225500.0,19112.0,1065.0,34067.0,34067.0,16684.0,234701.594344,St. Louis,38.7352,-90.3501

âš ï¸ Skipping lat/lng merge: already present in DataFrame.
âœ… Dropped 0 duplicate rows (excluding date/year).
âœ… Removed 0 rows with median_list_price > 19M.
âœ… Predictions returned

   predicted_price
0    210275.375000
1    452812.062500
2    470314.437500
3    769957.187500
4    237807.484375